.contactus{
    background-image: url("https://wallpaperaccess.com/full/1128282.jpg");
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 95vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    opacity: .9;
    

}

.laycontactUs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #797777;
    mix-blend-mode: overlay;
    /* opacity: 0.5; */
}
.submitCon {
    font-size: 1em;
    background: transparent;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(2, 150, 179);
    border: 2.5px solid rgb(2, 150, 179);
    width: 10rem !important;;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }
  
  .submitCon:hover {
    background-color: rgb(2, 150, 179) !important;;
    color: white !important;;
  }
  