/* faq.css */

/* Add custom style for the accordion header question */
.accordion-header {
    background-color: white;
  }
  
  /* Add custom style for the expanded accordion answer */
  .accordion-body {
    background: linear-gradient(to bottom, #fbffff, #f6f1ca);
  }
  .glow-input{
    box-shadow: 0 0 5px 2px rgb(166, 111, 1);
  }
  .glow-input:focus {
  box-shadow: 0 0 5px 4px rgb(166, 111, 1);
  outline: none;
}
.faqbox{
   
  margin-top: 1rem !important;
  margin-bottom: .8rem !important;
  
}
.accordion-header{
  /* border: 2px solid #7f8181 ; */
  box-shadow:0 0 9px .5px rgb(166, 111, 1) ;
  
  
}
.accordion-header:hover{
  box-shadow: 0 0 9px 2px rgb(166, 111, 1);

}
.faqheaderbutton{
  background-color:   rgb(255, 253, 250);
  color: black;
}